.q1{
    background-image: url(https://nftmak.netlify.app/assets/img/banner/banner_bg.jpg);
    padding-top: 20px;
   
    
}
.q15{
    border-bottom: 1px dashed #C9C9C9;
}
.q2{
    color: #6345ED;
    font-weight: 900;

}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 35px;
}
.nav-link{
    color: white;
    font-weight: 700;
}
.btn{
    color: white;
    font-weight: 900;
    padding: 10PX 25PX;
    background-color: #A03FF5;
    border: 2px dashed white;
    border-radius: 25px;
}
.navbar{
    background-color: #1C1832;
    border-radius: 25px;
    padding: 15px 0px 15px 0px;
}
.navbar-nav{
    margin-left: 300px;
    color: white;
}
.d-flex{
    background-color: #A03FF5;
    border-radius: 25px;
    padding: 4px;
    
}
.q5{
    font-weight: 700;
    font-size: 70px;
    color: white;
}
.q6{
    color: #6345ED; 
}
.q7{
    font-weight: 600;
    font-size: 20px;
    color: #C9C9C9;
}
.q8{
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    background-color: #A03FF5;
    border-radius: 25px;
    
}
.q9{
    padding-top: 30px;
}
.w2{
    color: white;
    display: inline;
}
.w1{
    background-color: #070B24;
}
.w3{
    margin-left: 15px;
    width: 20px;
}
.w6{
    background-color: #A03FF5;
    border-radius: 25px;
    padding: 0px;
    margin-right: 50px;
    
    
}
.w7{
    border-top: 1px solid #C9C9C9;
}
.card-title{
    color: white;
    font-weight: 800;
}
.card{
    background-color: #1D1933;
    box-shadow: 5px 5px 23px 2px #1D1933;
    border: 1px solid black;
}
.w10{
}