.q1{
    background-image: url(https://nftmak.netlify.app/assets/img/banner/banner_bg.jpg);
    padding-top: 20px;
    
}
.q2{
    color: #6345ED;
    font-weight: 900;

}
.navbar-brand{
    color: white;
    font-weight: 900;
    font-size: 35px;
}
.nav-link{
    color: white;
    font-weight: 700;
}
.btn{
    color: white;
    font-weight: 900;
    padding: 10PX 25PX;
    
    border: 2px dashed white;
    border-radius: 25px;
}
.navbar{
    background-color: #1C1832;
    border-radius: 25px;
    padding: 15px 0px 15px 0px;
}
.navbar-nav{
    margin-left: 300px;
    color: white;
}
.d-flex{
    background-color: #A03FF5;
    border-radius: 25px;
    padding: 4px;
}
.q5{
    font-weight: 700;
    font-size: 70px;
    color: white;
}
.q6{
    color: #6345ED; 
}
.q7{
    font-weight: 600;
    font-size: 20px;
    color: #C9C9C9;
}
.q8{
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    font-weight: 800;
    background-color: #A03FF5;
    border-radius: 25px;
    
}
.q9{
    padding-top: 30px;
}